
# Created by https://www.gitignore.io/api/sbt

### SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

# End of https://www.gitignore.io/api/sbt

# Created by https://www.gitignore.io/api/scala

### Scala ###
*.class
*.log

### IntelliJ ###
.idea/

# End of https://www.gitignore.io/api/scala

# Ignore output folders
output_df/
output_rdd/

# And logs
logs/

# And try-outs and configs and venv
tryouts/
configs/
venv/

# And data
segment/
